<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Species Prediction</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5 mb-5">Predicción de Especie de Iris</h1>

        <!-- Mostrar botones de Login y Signup -->
        <div class="text-end mb-3">
            <a href="/login" class="btn btn-outline-primary">Iniciar Sesión</a>
            <a href="/signup" class="btn btn-outline-secondary">Registrarse</a>
        </div>

        <div class="card">
            <div class="card-header">
                <h5 class="text-center">Introduce las características de la flor</h5>
            </div>
            <div class="card-body">
                <form action="/predict" method="POST">
                    <label>Sepal Length (cm)</label>
                    <input type="number" step="0.01" class="form-control mb-3" name="sepal_length" required>
                    <label>Sepal Width (cm)</label>
                    <input type="number" step="0.01" class="form-control mb-3" name="sepal_width" required>
                    <label>Petal Length (cm)</label>
                    <input type="number" step="0.01" class="form-control mb-3" name="petal_length" required>
                    <label>Petal Width (cm)</label>
                    <input type="number" step="0.01" class="form-control mb-3" name="petal_width" required>
                    <button class="btn btn-primary" type="submit">Predecir</button>
                </form>
            </div>
        </div>

        {% if prediction %}
        <div class="alert alert-success mt-5" role="alert">
            <h4 class="alert-heading">Resultado de la Predicción</h4>
            <p>La especie predicha es: <strong>{{ prediction }}</strong></p>
        </div>
        {% endif %}
    </div>
</body>
</html>
